* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --ckeched: #1f236bea;
  --bginput: #f0f0f0;
  --textcolorinput: rgb(65, 62, 62);
}

body,
html {
  background-color: #2A996E;
  /* height: 2750px; */
}

.title {
  color: #18382c;
  font-size: clamp(0.5em, 1.2vw + 0.1rem, 1rem);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5vw;
  margin-right: 20px;
  margin-left: 20px;
}

#qtdpar,
#qtdimpares {
  font-size: clamp(2.8rem, 2vw + 0.6rem, 3rem);
}

#value-par,
#value-impares {
  letter-spacing: 3px;
  font-size: clamp(1.4rem, 1vw + 0.6rem, 1.3rem);
}

.alignLegend {
  display: flex;
  justify-content: center;
}

.legend {
  display: none;
  background-color: #167e57;
  margin-top: 25px;
  padding: 35px;
  width: clamp(19.42rem, 15vw + 10.6rem, 18.3rem);
  border-radius: 20px;
}

h1 {
  line-height: 25px;
}

.alignsubtitle {
  font-size: clamp(1.2rem, 1vw + 0.6rem, 1.3rem);
}

h2.title {
  color: #18382c;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: clamp(0.9rem, 1vw + 0.6rem, 2rem);
}

.wrapperInput {
  display: flex;
  justify-content: center;
}

.aligninputmaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 255px;
  height: 80px;
  border-radius: 5px;
  position: absolute;
}

.span-inputNumber {
  position: absolute;
  top: 38px;
  left: -27px;
  font-size: 17px;
  transform: scale(0.9);
  transition: 100ms linear;
  color: #08422d;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2a996e 50%);
  font-weight: 600;
  z-index: 50;
}

.alignExit {
  display: flex;
  justify-content: center;
}

#exitNumbers {
  text-align: center;
  font-size: clamp(1.8em, 1.2vw + 1rem, 3.6rem);
  letter-spacing: 2px;
  line-height: 45px;
  animation: exitEffect 1s;
  color: #063423;
  z-index: 250;
}
.rollScrollyPlus{
  background-color: #24634d;
  top: 0;
  position: sticky;
  transition: .1s linear;
}
.alturaPage{
  background-color: rgba(255, 255, 255, 0);
}
.rollScrollyPlusMax{
  position: relative;
  background-color: rgba(255, 255, 255, 0);
}

@keyframes exitEffect {
  from {
    font-size: clamp(0.005em, 0.2vw + 0.2rem, 0.1rem);
  }

  to {
    font-size: clamp(1.8em, 1.2vw + 1rem, 3.6rem);
  }
}

.spanlater {
  left: -40px;
  top: 11px;
  color: #08422d;
  /* background-color: #2A996E; */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2a996e 50%);
  padding-left: 5px;
  padding-top: -3565px;
  padding-right: 5px;
  position: absolute;
  font-size: clamp(0.200em, 0.2vw + 0.8rem, 0.9rem);
  font-weight: 600;
  transition: 90ms linear;
  transform: scale(0.8);
  z-index: 5;
}

.spanlater::after {
  content: ":";
}

.inputNumber {
  outline: none;
  border: 1px solid #0a4d34;
  /* background-color: #2A996E; */
  background-color: #2a996e00;
  color: var(--textcolorinput);
  font-size: 24.5px;
  border-radius: 5px;
  width: 320px;
  color: #083827;
  height: 60px;
  top: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  z-index: 2;
}

.inputNumber:focus {
  border: 1px solid #0a4d34;
}

.inputNumber-erro {
  border: 1px solid red;
  animation: errorNumber 0.2s;
}

.spanlater-erro {
  animation: errorNumber 0.2s;
}

@keyframes errorNumber {
  0% {
    transform: translateX(10px);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(-5px);
  }

}

#represent {
  margin-top: 50px;
}

.alignImg {
  display: flex;
  justify-content: center;
}

#imagem {
  width: 312px;
  height: 520px;
  margin-bottom: -10px;
  position: relative;
  z-index: 3;
}

.alignmaker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.makerbloc {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 5.5px;
  position: absolute;
  margin-top: -640px;
  text-align: center;
  margin-left: 7px;
  width: 235px;
  height: 119px;
  z-index: 20;
}

.preencher {
  height: 11px;
  color: #dbdee000;
}

.preenchido {
  background-color: var(--ckeched);
  height: 13px;
  color: #dbdee000;
}

.alignButton1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px;
}

.alignButton2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 55px;
}

.alignButton2 {
  margin-bottom: 0px;
}

.alignButton1 {

  margin-top: 7em;
}

.button-sorteados,
.button-bolao {
  width: 320px;
  height: 65px;
  font-size: 0.9em;
  border-radius: 10px;
  border-color: black;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
  transition-duration: 0.8s;
  font-weight: 600;
  letter-spacing: 2px;
}

.button-sorteados:active,
.button-bolao:active {
  border: 4px solid black;
  font-size: 0.87em;
  transition-duration: 0.3s;
}

.button-sorteados:disabled,
.button-bolao:disabled {
  color: #178f63;
  border: 2px solid #178f63;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9em;
  transition-delay: 0.3s;
}

.popuprapper {
  backdrop-filter: blur(14px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.658);
  animation: fadinUpRapper 0.8s;
  z-index: 51;
}

@keyframes fadinUpRapper {
  from {
    backdrop-filter: blur(0px);
  }

  to {
    backdrop-filter: blur(25px);

  }
}

.popup {
  font-family: Arial, Helvetica, sans-serif;
  width: clamp(20em, 40.2vw + 5.8rem, 36.9rem);
  height: clamp(9em, 9.2vw + 9rem, 12.9rem);
  max-width: 716px;
  max-height: 500px;
  margin: 140px auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  position: relative;
  animation: fadinUpPopup 1s;

}

@keyframes fadinUpPopup {
  0% {
    margin-top: 250px;
    background-color: rgba(0, 0, 0, 0);
  }

  25% {
    background-color: rgba(255, 255, 255, 0.10);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.25);
  }

  75% {
    background-color: rgba(255, 255, 255, 0.75);
  }

  100% {
    margin-top: 140px;
    background-color: rgb(255, 255, 255);

  }
}

.popup-close {
  position: absolute;
  top: 5;
  right: 15px;
  cursor: pointer;
  font-weight: 800;
  animation: fadinUpTitle 3s;
  color: black;
}

.popup-title {
  text-align: center;
  margin-top: clamp(0.025em, 0.1vw + 1.9rem, 3.9rem);
  font-size: clamp(0.1em, 0.2vw + 1.2rem, 1.9rem);
  color: black;
  animation: fadinUpTitle 3s;
}

@keyframes fadinUpTitle {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color: black;

  }
}

.popup-paragraf {
  font-family: 'monospace';
  margin-top: clamp(0.4em, 0.2vw + 1.3rem, 15.9rem);
  font-size: clamp(1em, 1vw + 0.8rem, 1.1rem);
  letter-spacing: 1px;
  line-height: clamp(1.6em, 2.2vw + 0.5rem, 2.5rem);
  text-align: center;
  color: black;
  animation: fadinUpParagraf 3s;
}

@keyframes fadinUpParagraf {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color: black;
  }
}

.alignBolao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bolaoH2 {
  margin: 30px 160px auto 0px;
  font-size: clamp(0.6em, 1vw + 1rem, 1.6rem);
  color: #063423;
}

.bolaoH1 {
  margin: 10px auto 10px auto;
  padding: 15px 15px;
  font-size: clamp(1.8em, 1.2vw + 1rem, 3.6rem);
  border-radius: 5px;
  letter-spacing: 2px;
  color: #083827;
  background-color: #167e57;

}
.alignBolao {
  margin-bottom: 150px;
}
#unfocusinput {
  position: absolute;
  z-index: -1;
  top: 40px;

}
[data-anime]{
  opacity: 0;
  transition: .3s ease-in;
}

[data-anime= 'left']{
  transform: translate3d(-150px, 0px, 0px);
}

[data-anime= 'right']{
  transform: translate3d(150px, 0px, 0px);
}
.animated{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  
}

@media print {

  .button-sorteados,
  .inputNumber,
  .button-bolao,
  .span-inputNumber,
  .spanlater,
  .alignBolao,
  #unfocusinput {
    display: none;
  }

  .title,
  #exitNumbers,
  #qtdpar,
  #value-par,
  #qtdimpares,
  #value-impares,
  #representation {
    color: black;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .alignsubtitle {
    margin-top: 20px;
  }

  #exitNumbers {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    z-index: 200;
  }

  h1 {
    margin-top: 80px;
  }

  .configPrint {
    display: flex;
    justify-content: space-around;
  }

  .legend {
    margin-top: 30px;
    height: 50px;
    padding: -150px;
  }

  .makerbloc {
    margin-top: -640px;
    margin-left: 1px;
    z-index: 250;
  }

  .preenchido {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: #1f236bea !important;
    height: 13px;
    color: #dbdee000;
  }

  html,
  body,
  .legend {
    background-color: rgba(255, 255, 255, 0);
  }

  .legend {
    padding: 0px;
  }
}